
.wraper-main {
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(130deg, rgb(33, 150, 243), #67d6cd);
    box-shadow: rgb(33 150 243 / 68%) 0px 0px 1rem 2px;
    border-radius: 10px;
    padding: 4rem 1rem;
}